*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(189, 142, 142);
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
    margin: auto;
    text-align: justify;


}
.container .navbar{
    width: 100%;
    height: 50px;

}
.container .navbar h1 {
    color: rgb(34, 43, 43);
}

.container .içerik .yazı{
    width: 60%;
    margin: auto;
    max-width: 800px;
}
.container .içerik .saatseçme{

    margin: auto;
    width: 75%;
}

.container .içerik h2{
    text-align: center;
}
.container .içerik .saatseçme a{
    user-select: none;
    text-decoration: none;
    font-weight: 900;
    float: left;
    color: wheat;
    width: 90px;
    height: 90px;
    font-size: xx-large;
}
.container .içerik .saatseçme a:hover{
    color: white;

}
@media screen and (max-width: 768px) {
    .container .navbar h1{
        font-size: 30px;
    }
    .container .navbar .ul{
        float: left;
    }
    .container .navbar ul li{
        display: inline-block;
        font-weight: bold;
        font-size: 25px;
    }
    .container .içerik .saatseçme{
        width: 100%;
    }
    .container .içerik .saatseçme a{
        float: left;
    }
}